<form #placeForm="ngForm" (ngSubmit)="addTown(placeForm)">
  <div class="card">
    <div class="card-header">
      Add place
    </div>
    <div class="card-body">
      <h5 class="card-title">Town name</h5>
      <div class="form-group">
        <label for="townName" class="card-text">Insert city name below</label>
        <input required type="text" id="townName" class="form-control"
               [class.is-invalid]="townName.invalid && townName.touched || error"
               [(ngModel)]="townNameModel" name="townName"
               (keyup)="error = ''"
               #townName="ngModel">
        <div class="text-success">
          {{success}}
        </div>
        <div class="invalid-feedback" *ngIf="townName.invalid && townName.touched">
          Please choose a username.
        </div>
        <div class="invalid-feedback" *ngIf="error && townName.touched">
          {{ error }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
              [disabled]="placeForm.invalid">Add
      </button>
    </div>
  </div>
</form>