<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-sm navbar-light">
          <a class="navbar-brand" routerLink="/">{{ title }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/list">List of cities</a>
              </li>
              <li [routerLinkActive]="['active']" class="nav-item" aria-current="page">
                <a class="nav-link" routerLink="/add">Add city</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <router-outlet></router-outlet>
</div>

