<form #placeForm="ngForm" (ngSubmit)="addTown(placeForm)">
  <div class="card">
    <div class="card-header">
      Add place
    </div>
    <div class="card-body">
      <h5 class="card-title">Town name</h5>
      <div class="form-group">
        <label for="townName" class="card-text">Insert city name below</label>
        <input required type="text" id="townName" class="form-control"
               [class.is-invalid]="townName.invalid && townName.touched || error"
               [(ngModel)]="townNameModel" name="townName"
               (keyup)="error = ''; success = ''"
               #townName="ngModel" value="{{townNameModel | titlecase}}">
        <div class="text-success">
          {{success}}
        </div>
        <div class="invalid-feedback" *ngIf="townName.invalid && townName.touched">
          Please enter city name.
        </div>
        <div class="invalid-feedback" *ngIf="error && townName.touched">
          {{ error }}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary"
                [disabled]="placeForm.invalid">Add
        </button>
        <button type="button" class="btn btn-outline-info"
                routerLink="/">Go to list
        </button>
      </div>

    </div>
  </div>

</form>
